body {
  font-family: "Roboto";
  background-color: #2e0249;
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  background-color: #570a57;
  max-width: 1200px;
}

.maze {
  padding: 9px;
  margin: 10px;
  margin-right: 20px;
  width: 700px;
  height: 700px;
}

.ga_setup {
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.input_container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  margin: 1px;
  background-color: #2e0249;
  border-radius: 5px;
  height: 60px;
  opacity: 0.7;
}

.input_container > label {
  /* color: #f806cc; */
  color: rgb(162, 162, 162);
  font-weight: 200;
  font-size: 1em;
}

.input_container > input {
  width: 40px;
  height: 15px;
  text-align: center;
  border-radius: 10px;
  background-color: rgb(87, 10, 87);
  color: white;
  font-weight: bolder;
  font-size: 1em;
  padding: 10px;
  margin-left: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.button_container {
  justify-content: center;
  align-items: center;
  padding: 10px;
}

select {
  height: 40px;
  width: 200px;
  background-color: #570a57;
  border-radius: 5px;
  padding: 10px;
  color: white;
  font-weight: bolder;
  font-size: 0.9em;

  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}

select {
  background-image: linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position: calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
  background-size: 5px 5px, 5px 5px, 1px 1.5em;
  background-repeat: no-repeat;
}

button {
  width: 100%;
  height: 100%;
  font-size: 1.2em;
  font-weight: bolder;
  border-radius: 10px;
  background-color: rgb(135, 135, 135);
}

#chartContainer {
  padding: 20px;
}
